<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysql.base.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.mysql.base.entity.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, age
    </sql>

    <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from student
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.mysql.base.entity.Student" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into student (
            id,
            name,
            age
            )
        values (
            #{id,jdbcType=INTEGER},
            #{name,jdbcType=VARCHAR},
            #{age,jdbcType=INTEGER}
          )
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        student
    </select>

    <select id="selectMaxId" resultType="integer">
        SELECT MAX(id)
        FROM
        student
    </select>

    <select id="select" resultType="integer">
        SELECT MAX(id)
        FROM
        student
    </select>



    <!--auto generated by MybatisCodeHelper on 2020-04-26-->
    <update id="updateByName">
        update student
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.name != null">
                name = #{updated.name,jdbcType=VARCHAR},
            </if>
            <if test="updated.age != null">
                age = #{updated.age,jdbcType=INTEGER}
            </if>
        </set>
        where `name`=#{name,jdbcType=VARCHAR}
    </update>

</mapper>